**/*.lock

jellyfin/cache/**
!jellyfin/cache/.gitkeep
jellyfin/config/**
!jellyfin/config/network.xml
jellyfin/data/**
!jellyfin/data/.gitkeep
jellyfin/log/**
!jellyfin/log/.gitkeep

dist/downloads/**
!dist/downloads/.gitkeep
dist/media/**
!dist/media/.gitkeep

qbittorrent/config/qBittorrent/BT_backup
qbittorrent/config/qBittorrent/GeoDB
qbittorrent/config/qBittorrent/logs
qbittorrent/config/qBittorrent/lockfile
qbittorrent/config/qBittorrent/qBittorrent-data.conf

jackett/config/Jackett/DataProtection
jackett/config/Jackett/log.txt
jackett/config/Jackett/updater.txt

sonarr/config/MediaCover
sonarr/config/log*
sonarr/config/.config
sonarr/config/sonarr.db*
sonarr/config/sonarr.pid

